# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# Build
dist/
build/
frontend/dist/

# Dataset
dataset/
datasets/
archive/

# AI Models
# models/
# *.pth
*.pt
*.h5

# Environment
.env
*.env

# Firebase
backend/service-account.json

# Logs
logs/
*.log