# Python
__pycache__/
*.pyc

# Virtual environment
backend/venv/
venv/

# Environment variables
.env
*.env

# Google Cloud service account
backend/service-account.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db